// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.form-width {
  width: 60%;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}
